* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #0b0e11;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #0b0e11;
}

#App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #0b0e11;
}

.scrollToTopBtn {
  background-color: aquamarine;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  cursor: pointer;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
