PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwNDcyMWJhNC1hMzYxLTQ3NzYtYWNjOS0yYTBiYzhkZTJmZGIiLCJlbWFpbCI6InF1b2NraGFuaGhoaDI4MDA0QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIzNGUyZjI1MDcxZjMzZDJmNDA0NSIsInNjb3BlZEtleVNlY3JldCI6ImMxZDEyYzhhMGFkMzBmNDcyNjhhZTg5ZjRkZjM4Yzk3Zjc4ZTZhOTQ4NDBiYWNjYWJmNGEyY2ZlNWMyOGZlZDYiLCJleHAiOjE3OTc5NTY4NjV9.XD4nUNbWqI29aaWBb1XYEZnG4QMtrNKmGsz5simKag0
REACT_APP_PINATA_API_KEY=34e2f25071f33d2f4045
REACT_APP_PINATA_API_SECRET=c1d12c8a0ad30f47268ae89f4df38c97f78e6a94840baccabf4a2cfe5c28fed6
PINATA_ENDPOINT=